<html>
    <head>
        
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/global.css')}}">
    </head>
    <body>
        <div class="d-flex justify-content-center align-items-center" style="height:100vh; ">
          <div id="loginbox" class="shadow p-4 bg-white rounded border border-secondary" >
            
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% if request.args.get('loggedout') %}
              <div class="alert alert-info">You have been logged out.</div>
            {% endif %}

            <h3 class="mb-3 mt-0">Games Database Login:</h3>
            <form action="/login" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">    
            </div>
            <div class="xd-grid text-center">
                <button class="btn btn-primary">Login</button>
            </div>
            </form>    
            
          </div>
        </div>
    
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>


    </body>
</html>